@use './../../shared' as s;

.signup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;

  &__option {
    display: flex;
    gap: 1rem;
    align-items: center;

    &__question {
      @include s.paragraph(1.7);
    }
    &__action {
      color: rgb(57, 183, 214);
      font-size: 1.7rem;
      font-weight: 600;
    }
  }
}
