@use './../../shared' as s;

.input {
  display: flex;
  flex-direction: column;

  &__label-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;

    label {
      @include s.paragraph(1.7);
    }

    p {
      @include s.errorMessage;
    }
  }

  &__input {
    background-color: var(--color-secondary-gray);
    border: none;
    height: 5rem;
    border-radius: var(--border-radius-element);
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-secondary-black);
    font-family: inherit;
    font-weight: 300;

    &::placeholder {
      color: rgb(179, 179, 179);
    }

    &:focus {
      outline: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }

  &__textarea {
    @extend .input__input;
    resize: none;
    height: 13rem;

    &::placeholder {
      color: rgb(179, 179, 179);
      line-height: 1.45;
    }
  }
}
