.button {
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
  border: none;
  padding: 1.5rem;
  font-size: 1.6rem;
  border-radius: var(--border-radius-element);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
