@use './../../shared' as s;

.account {
  display: flex;
  height: 100vh;

  @media screen and (max-width: 710px) {
    flex-direction: column;
  }

  &__left {
    width: 55%;
    @include s.layoutPadding;

    @media screen and (max-width: 1200px) {
      padding: 3rem 7rem;
    }

    @media screen and (max-width: 980px) {
      padding: 3rem 3.5rem;
    }

    @media screen and (max-width: 770px) {
      padding: 3rem 2rem;
    }

    @media screen and (max-width: 710px) {
      width: 100%;
    }

    &__header {
      margin-bottom: 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      @media screen and (max-width: 710px) {
        margin-bottom: 3rem;
      }

      img {
        height: 3.5rem;

        @media screen and (max-width: 730px) {
          height: 3rem;
        }

        @media screen and (max-width: 470px) {
          height: 2.5rem;
        }
      }

      &__back {
        a {
          @include s.paragraph(1.6);
          cursor: pointer;
          text-decoration: none;
          display: inline-block;
          text-align: right;
        }
      }
    }

    &__content {
      &__title {
        font-size: 3.5rem;
        margin-bottom: 2.5rem;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    background-color: var(--color-primary-sand);

    @media screen and (max-width: 710px) {
      width: 100%;
      padding: 3rem 2rem;
    }

    &__quote {
      width: 50%;

      @media screen and (max-width: 800px) {
        width: 80%;
      }

      @media screen and (max-width: 710px) {
        width: 100%;
      }

      &__quote {
        font-size: 2.6rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
        font-weight: 600;

        @media screen and (max-width: 500px) {
          font-size: 2.2rem;
          line-height: 1.6;
        }
      }

      &__author {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        &__info {
          &__name {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
          }
          &__role {
            @include s.paragraph(1.4);
          }
        }
      }
    }
  }
}
