@use './../../shared' as s;

$elements-spacing: 1.3rem;

.camp-card {
  border: 1px solid var(--color-primary-gray);
  border-radius: var(--border-radius-element);
  padding: $elements-spacing;

  &__image {
    width: 100%;
    margin-bottom: $elements-spacing;
  }

  &__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: $elements-spacing;
  }

  &__description {
    @include s.paragraph(1.5);
    margin-bottom: $elements-spacing;
  }
}
