@use './../../shared' as s;

.campground-actions {
  @include s.layoutPadding;

  &--comment {
    @extend .campground-actions;
    height: 100vh;
  }

  &__form {
    width: 45%;
    margin: 0 auto;

    &__title {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }
}
