@use './../../shared' as s;
$elements-spacing: 1.3rem;

.home-page {
  @include s.layoutPadding;

  @media screen and (max-width: 1085px) {
    padding: 3rem 7rem;
  }

  @media screen and (max-width: 870px) {
    padding: 3rem 3.5rem;
  }

  @media screen and (max-width: 670px) {
    padding: 3rem 2rem;
  }

  &__welcome {
    background-color: var(--color-primary-sand);
    border-radius: var(--border-radius-element);
    padding: 4rem 3rem;
    margin-bottom: 6rem;

    @media screen and (max-width: 350px) {
      padding: 3rem 2rem;
    }

    &__content {
      width: 35rem;

      @media screen and (max-width: 440px) {
        width: 100%;
      }

      &__title {
        font-size: 2.5rem;
        margin-bottom: $elements-spacing;
      }

      &__paragraph {
        @include s.paragraph(1.7);
        margin-bottom: $elements-spacing;
      }

      &__form {
        display: flex;
        gap: $elements-spacing;
        margin-bottom: 1.5rem;

        &__input-container {
          display: flex;
          background-color: #fff;
          gap: $elements-spacing;
          padding: 0.1rem 1.5rem;
          flex: 1;
          border: 1px solid var(--color-primary-gray);
          border-radius: var(--border-radius-element);

          &__icon {
            width: 1.6rem;
          }
        }
      }

      &__add-campground-link {
        &:link,
        &:visited {
          @include s.paragraph(1.6);
        }
      }
    }
  }

  &__campgrounds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @media screen and (max-width: 950px) {
      gap: 2rem;
    }

    @media screen and (max-width: 870px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }

    @media screen and (max-width: 770px) {
      gap: 2rem;
    }

    @media screen and (max-width: 590px) {
      grid-template-columns: 1fr;
    }
  }
}

.sc-eCYdqJ,
.bdHMCv {
  width: 100%;
}

.sc-hKMtZM input,
.hCOnUy input {
  font-family: 'Archivo', sans-serif;
  @include s.paragraph(1.6);
  transform: translateY(1px);
}
