@use './../../shared' as s;

$container-padding: 3rem;
$elements-spacing: 2rem;

.individual-camp {
  @include s.layoutPadding;

  &__container {
    display: flex;
    gap: 10rem;
    align-items: flex-start;

    &__sidebar {
      padding: $container-padding;
      @include s.elementBorder;
    }

    &__campground {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      &__info {
        padding: $container-padding;
        @include s.elementBorder;
        img {
          width: 100%;
          margin-bottom: $elements-spacing;
        }

        &__main {
          display: flex;
          justify-content: space-between;
          margin-bottom: $elements-spacing;

          &__name {
            font-size: 2.2rem;
          }

          &__price {
            font-size: 1.7rem;
            font-weight: 300;
          }
        }

        &__description {
          @include s.paragraph(1.7);
          margin-bottom: $elements-spacing;
        }

        &__author {
          @include s.paragraph(1.7);
          font-style: italic;
        }
      }

      &__reviews {
        padding: $container-padding;
        padding-top: 1rem;
        @include s.elementBorder;
        display: flex;
        flex-direction: column;
        &__comments {
          margin-bottom: $elements-spacing;
        }
      }
    }
  }
}
