@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary-white: #f9f6f1;
  --color-primary-black: #000000;
  --color-secondary-black: #595959;
  --color-primary-gray: #dfdfdf;
  --color-secondary-gray: #eeeeee;
  --color-primary-sand: #f5f0ea;
  --color-primary-red: rgb(216, 0, 0);
  --border-radius-element: 0.5rem;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Archivo', sans-serif;
  height: 100vh;
  background-color: var(--color-primary-white);
}
